<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Final Project Suite" verbose="1">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="Register Tests">
        <classes>
            <class name="tests.RegisterTest"/>
        </classes>
    </test>
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Enrol Tests">
        <classes>
            <class name="tests.EnrollTest"/>
        </classes>
    </test>

</suite>
